XML/CalculatorService.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/MathService/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="convertToComplexType">
<part name="parameters" element="tns:convertToComplexType"/>
</message>
<message name="convertToComplexTypeResponse">
<part name="parameters" element="tns:convertToComplexTypeResponse"/>
</message>
<portType name="CalculatorService">
<operation name="add">
<input wsam:Action="http://Service/CalculatorService/addRequest" message="tns:add"/>
<output wsam:Action="http://Service/CalculatorService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://Service/CalculatorService/mulRequest" message="tns:mul"/>
<output wsam:Action="http://Service/CalculatorService/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://Service/CalculatorService/subRequest" message="tns:sub"/>
<output wsam:Action="http://Service/CalculatorService/subResponse" message="tns:subResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://Service/CalculatorService/divRequest" message="tns:div"/>
<output wsam:Action="http://Service/CalculatorService/divResponse" message="tns:divResponse"/>
</operation>
<operation name="convertToComplexType">
<input wsam:Action="http://Service/CalculatorService/convertToComplexTypeRequest" message="tns:convertToComplexType"/>
<output wsam:Action="http://Service/CalculatorService/convertToComplexTypeResponse" message="tns:convertToComplexTypeResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertToComplexType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8080/MathService/CalculatorService"/>
</port>
</service>
</definitions>